<!DOCTYPE html>
<html>
    <head>
        <title>LoanApproval</title>
        <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        {%block body %}{% endblock %}
    </body>
    <footer>
        <p>Copyright @LoanApproval realized by Pierre Charles & Julien BRAT 2016</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/loanApproval.js"></script>
</html>