{% extends 'base.html.twig' %}
{% block body %}     
<div class="header">
    <p class="h1">Service LoanApproval</p>
    <input type="button" class="btn-info manage-accounts" value="Gestion des comptes">
    <input type="button" class="btn-info show-form" value="Demande de crédit">
</div>
<div class="form" style="display:none;">
    <p class="h3">Demande de crédits :</p>
    <p>Vous devez soit remplir le champs Nom & Prénom soit le champs correspondant au numéro de compte</p>
    <form method="POST" action="">
        <table>
            <tr>
                <td>Nom :</td>
                <td><input type="text" id="lastName" name="lastName"></td>
            </tr>
            <tr>
                <td>Prenom :</td>
                <td><input type="text" id="firstName" name="firstName"></td>
            </tr>
            <tr>
                <td>Numéro de compte :</td>
                <td><input type="text" id="accountId" name="accountId"></td>
            </tr>
            <tr>
                <td>Montant de la demande de crédit :</td>
                <td><input type="text" id="amountLoan" name="amountLoan" required=""></td>
            </tr>
            <tr>
                <td class="bouton_td"><input type="button" class="btn btn-success submitLoan" value="demander crédit"></td>
            </tr>
            
            <p class="errorLoan"></p>
            <p class="success"></p>
           
        </table>
    </form>
</div>
{% endblock body %}